body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--primary-background-color);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
}

p {
    margin: 0;
}

/****************************************************************************/
/* ----------------------- General Input Stylings ------------------------- */
/****************************************************************************/

input {
    width: 100%;
    height: 52px;
    background-color: var(--primary-infill-color);
    color: var(--primary-text-color);
    outline: var(--passive-border-color);
    padding-left: 25px;
    border-radius: var(--primary-border-radius);
    border: 1px solid var(--passive-border-color);
}

input:focus,
textarea:focus {
    border: 1px solid var(--active-border-color);
}

.asset-container input {
    height: 34px;
    padding-left: 0;
    text-align: center;
}

label {
    position: relative;
    width: 100%;
    color: var(--primary-text-color);
}

span {
    display: block;
}

span .primary   { color: var(--primary-text-color);   }
span .secondary { color: var(--secondary-text-color); }
span .tertiary  { color: var(--tertiary-text-color);  }

textarea::-webkit-input-placeholder {
    color: var(--tertiary-text-color);
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: var(--tertiary-text-color);
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: var(--tertiary-text-color);
}

textarea:-ms-input-placeholder {
    color: var(--tertiary-text-color);
}

textarea::placeholder {
    color: var(--tertiary-text-color);
}