@charset "utf-8";

// All theme styles
@import "theme/__theme-dir";

// All abstracts styles
@import "abstract/__abstract-dir";

// All element styles
@import "element/__element-dir";

// All layout styles
@import "layout/__layout-dir";

/******************************************************/
/* --------------Main Body & App Styles ------------- */
/******************************************************/

body {
  @include reset-list;
  display: flex;
  height: 100vh;
  background: $primary-background-color;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height:  $primary-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

/** all router views */
section:not(#sidebar) {
  position: relative;
  width: 100%;
  padding: 25px;
}

h1, h2, h3, h4, h5, h6, p, span {
  @include reset-list;
}

p {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height:  $primary-line-height;
  color:  $primary-text-color;
}
