/*******************************************************/
/* -------------- Theme Color Variables -------------- */
/*******************************************************/

// Main color
$main-color: #19B399;

// All background color gradations
$primary-background-color: #24292D;
$secondary-background-color: #2F363E;
$tertiary-background-color: #3C444D;

// All hover variables
$hover-button: $primary-background-color;
$hover-secondary-background: #2a3238;

// All text colors
$primary-text-color: #FFFFFF;
$secondary-text-color: #B5B5B5;
$tertiary-text-color: #787878;

// All infill colors
$primary-infill-color: #1A1E21;
$secondary-infill-color: #1C2125;

// All border colors
$passive-border-color: $tertiary-background-color;
$active-border-color: $main-color;

// All text colors
$passive-text-color: $tertiary-background-color;
$active-text-color: $primary-text-color;

/*******************************************************/
/* -------------- Theme Font Variables --------------- */
/*******************************************************/

// All font families
$primary-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// All font sizes
$primary-font-size: 15px;
$secondary-font-size: 14px;

// All line heights
$primary-line-height: 1.6;
$exact-primary-line-height: 1.4; // no spacing primary font size

// All font weights
$bold-font-weight: 600;
$regular-font-weight: 400;

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraLight.svg#NunitoSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Light.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Light.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Light.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Light.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Bold.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Bold.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Bold.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Bold.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Black.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Black.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Black.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Black.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Regular.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Regular.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Regular.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Regular.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.eot');
    src: url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.woff2') format('woff2'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.woff') format('woff'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.ttf') format('truetype'),
    url('@/assets/fonts/NunitoSans/NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*******************************************************/
/* ------------ Theme Appearance Variables ----------- */
/*******************************************************/

// All border radius's
$primary-border-radius: 5px;
$secondary-border-radius: 3px;

// All box shadow's
$box-shadow-main-color:
    0 0 1px rgba(25,179,153,0.05),
    0 0 4px rgba(25,179,153,0.2),
    0 0 8px rgba(25,179,153,0.2),
    0 0 12px rgba(25,179,153,0.2);

/*******************************************************/
/* ------------ Theme Distances Variables ------------ */
/*******************************************************/

// All paddings
$base-padding: 25px;

// All column gaps
$base-column-gap: $base-padding;
$small-column-gap: 5px;
$medium-column-gap: 10px;

// All margins
$base-margin: $base-padding;

/*******************************************************/
/* ------------ Theme Button Variables --------------- */
/*******************************************************/

@mixin primary-base-button {
    border: none;
    background-color: $main-color;
    color: $primary-text-color;
    border-radius: $primary-border-radius;
}

@mixin secondary-base-button {
    border: 1px solid $passive-border-color;
    background-color: $primary-infill-color;
    border-radius: $primary-border-radius;
    color: #FFFFFF;
}

@mixin button-wrapper-flex {
    @include flex-center-xy;
    position: relative;
}

@mixin flex-button {
    @include full-reset;
    @include secondary-base-button;
    @include flex-center-xy;
    column-gap: $primary-button-gap;
}

$primary-button-padding: 12px 16px;
$primary-button-gap: 6px;

/*******************************************************/
/* -------------- Theme Input Styles ----------------- */
/*******************************************************/

// Input heights
$primary-input-height: 52px;
$secondary-input-height: 32px;

$inputError: #ee5253;

input {
    width: 100%;
    height: $primary-input-height;
    background-color: $primary-infill-color;
    color: $primary-text-color;
    outline: $passive-border-color;
    border-radius: $primary-border-radius;
    border: 1px solid $passive-border-color;
    text-align: center;
    cursor: pointer;
}

@media only screen and (min-width: 1600px) {
    input {
        font-size: 15px;
    }
}

input:focus,
textarea:focus {
    border: 1px solid $active-border-color;
}

input.error:focus,
textarea.error:focus {
    border: 1px solid $inputError;
}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::placeholder
{
    color: $tertiary-text-color;
}

input:autofill {
    background: $primary-infill-color; /* or any other */
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label {
    position: relative;
    width: 100%;
    color: $primary-text-color;
}

/*******************************************************/
/* ------------ Input Animation Wrapper -------------- */
/*******************************************************/


.input-animation-base-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-animation-base-wrapper .lottie-animation-container {
    margin-left: 5px;
}

.owned-quantity-animation  {
    width: 40px;
}

.target-percentage-animation {
    width: 25px;
}

.currency-animation {
    width: 130px;
}

.unit-type-animation {
    width: 207px;
}

.animation {
    width: 23px;
    height: 23px;
}

/*******************************************************/
/* -------------- Theme Select Styles ---------------- */
/*******************************************************/

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: $secondary-input-height;
    background-color: $primary-infill-color;
    color: $primary-text-color;
    outline: $passive-border-color;
    border-radius: $primary-border-radius;
    border: 1px solid $passive-border-color;
    cursor: pointer;
    text-align: left;
    padding-left: 6px;
}


select::-ms-expand {
    display: none;
}

select option {
    color: $primary-text-color;
}

select:focus::-ms-value {
    background-color: transparent;
}

/*******************************************************/
/* --------------- General App Styles ---------------- */
/*******************************************************/

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: $primary-background-color;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p, span {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background: transparent;
    color: $primary-text-color;
    font-size: $primary-font-size;
}

p {
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    color: $primary-text-color;
}

@media only screen and (min-width: 1600px) {
    h1, h2, h3, h4, h5, h6, p, span {
        font-size: 18px;
    }
}

/***************************************************************/
/* ---------------- General Checkbox Styles ------------------ */
/***************************************************************/

/* The container */
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $primary-infill-color;
    border: 1px solid $passive-border-color;
    border-radius: 4px;
    box-shadow: var(--box-shaddow);
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
    background-color: var(--background-white);
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
    position: absolute;
    left: 4px;
    top: 3px;
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.495' height='8.813' viewBox='0 0 11.495 8.813'%3E%3Cpath id='check' d='M0,19.434l1.277-1.66L4.6,20.583l5.364-6L11.5,15.985,4.726,23.393Z' transform='translate(0 -14.58)' fill='%2319b399'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
