.button-wrapper {
   @include button-wrapper-flex;

  button {
    @include flex-button;
    width: 52px;
    height: 52px;

    // deactivated
    cursor: not-allowed;
    pointer-events: none;

    .icon {
      @include background-image-presets;
      width: 18px;
      height: 18px;
      z-index: 10;
      opacity: 0.6;
    }

    .icon.arrow-up,
    .icon.arrow-down {
      width: 10px;
      height: 10px;
    }

    .icon.edit { background-image: $icon-edit-action; }
    .icon.group { background-image: $icon-group-action; }
    .icon.delete { background-image: $icon-delete-action; }
    .icon.arrow-up { background-image: $icon-arrow-up; }
    .icon.arrow-down { background-image: $icon-arrow-down; }
  }

  button.active {
    cursor: pointer;
    pointer-events: all;

    .icon {
      opacity: 1;
    }
  }

  button.active:hover {
    background-color: $primary-background-color;
  }

  button.highlighted {
    background-color: $primary-background-color;
  }

  button.group {
    @include flex-center-xy;
    width: 70px;
    column-gap: 8px;
  }

  button:not(:last-child) {
    border-right: 0;
    border-radius: 0;
  }

  button:first-child {
    border-radius: $primary-border-radius 0 0 $primary-border-radius;
  }

  button:last-child {
    border-radius: 0 $primary-border-radius $primary-border-radius 0;
  }
}
