$primary-button-padding: 12px 16px;
$primary-button-gap: 6px;

/******************************************************/
/* ------------------ Button Styles ----------------- */
/******************************************************/

@mixin base-button {
  border: 1px solid $passive-border-color;
  background-color: $secondary-infill-color;
  border-radius: $primary-border-radius;
}

@mixin flex-button {
  @include full-reset;
  @include base-button;
  @include flex-center-xy;
  column-gap: $primary-button-gap;
}

@mixin empty-group-button {
    @include base-button;
    width: calc(100% - 5px);
    height: calc($asset-row-height - 5px);
    margin: 2.5px;
    background-color: $secondary-infill-color;
    border-style: dotted;
    font-size: 20px;
    color: $secondary-text-color;
    cursor: pointer;
}

/******************************************************/
/* -------------- Button Wrapper Styles ------------- */
/******************************************************/

@mixin button-wrapper-flex {
  @include flex-center-xy;
  position: relative;
}
