$primary-border-radius: 5px;
$secondary-border-radius: 3px;

$box-shaddow-main-color:
        0 0 1px rgba(25,179,153,0.05),
        0 0 4px rgba(25,179,153,0.2),
        0 0 8px rgba(25,179,153,0.2),
        0 0 12px rgba(25,179,153,0.2);
