// Section variables
$section-padding: 25px;

// Filter grid
$filter-grid-height: 50px;

// Asset Row Dimensions
$asset-row-height: 58px;
$asset-row-padding: 8px;
$asset-inner-row: calc($asset-row-height - ($asset-row-padding * 2));

// Asset Row Columns
$price-column: 75px;
$owned-shares-column: 110px;
$actual-value-column: 165px;
$target-percentage-column: 110px;
$deviation-column: 65px;
$asset-row-columns: $asset-inner-row auto $price-column $owned-shares-column $actual-value-column $target-percentage-column $deviation-column;
$searchbar-asset-row-columns: $asset-inner-row auto auto $price-column;
$searchbar-asset-label-columns: auto auto$price-column;
$asset-row-column-gap: 40px;

// Single Row Dimensions
$single-value-columns: calc($asset-inner-row / 3);
$single-value-rows: calc($asset-inner-row / 3);

// Group Footer
$group-footer-height: 45px;
$group-footer-inner-height: calc($group-footer-height - 16px);

// Input heights
$primary-input-height: 52px;
$secondary-input-height: 32px;

// Target Percentage Grouping wrapper
$single-target-percentage-grouping-header: 16px;
$target-percentage-grouping-border: 3px;
$target-percentage-grouping-inner-padding: 3px;

$target-percentage-grouping-header: $target-percentage-grouping-border + $single-target-percentage-grouping-header;

$target-percentage-grouping-inner-frame:
        $target-percentage-grouping-inner-padding
        + $secondary-input-height
        + $target-percentage-grouping-inner-padding;

$target-percentage-grouping-row-gap: 57px;

// List Footer
$asset-list-footer-height: 65px;
