// Asset Row Dimensions
$asset-row-height: 58px;
$asset-row-padding: 8px;
$asset-inner-row: calc($asset-row-height - ($asset-row-padding * 2));
$asset-row-columns: $asset-inner-row auto 75px 110px 152px 110px 65px;
$asset-row-column-gap: 40px;

// Single Row Dimensions
$single-value-columns: calc($asset-inner-row / 3);
$single-value-rows: calc($asset-inner-row / 3);

// Group Footer
$group-footer-height: 45px;
$group-footer-inner-height: calc($group-footer-height - 16px);
