// Font families
$primary-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Font sizes
$primary-font-size: 15px;

// Line heights
$primary-line-height: 1.6;
