.group-wrapper {
  width: 100%;
  padding: 15px 15px 10px;
  cursor: pointer;

  .group-header {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  p {
    color: $primary-text-color;
    font-size: 18px;
    line-height: 22px;
    margin-top: 2px;
  }

  .icon {
    @include background-image-presets;
  }

  .icon.group {
    width: 18px;
    height: 18px;
    background-image: $icon-group-action;
  }

  ul {
    padding-left: 28px;
    margin: 5px 0 10px;
  }

  li {
    height: 26px;
    line-height: 26px;
    color: $primary-text-color;
  }

  li::marker {
    font-size: 22px;
  }

  li.selected {
    color: $main-color;
  }
}

.group-wrapper:hover {
  background-color: $secondary-background-color;
}
