#edit-asset {
  @include flex-column-center-y;

  .breadcrumb-wrapper {
    @include flex-center-y;
    column-gap: 20px;
    margin-bottom: $base-padding;

    a {
      @include full-reset;
      font-weight: $regular-font-weight;
      font-size: 22px;
    }

    a:last-child {
      color: $main-color;
    }

    a:not(:last-child) {
      cursor: pointer;
    }

    .arrow {
      @include background-image-presets;
      height: 16px;
      width: 16px;
      background-image: $icon-arrow-right;
    }
  }

  .card-wrapper {
    height: 100%;
    display: flex;
    column-gap: $base-column-gap;

    .card {
      @include base-wrapper;
      position: relative;
      margin-top: 30px;
      border-radius: 0 $primary-border-radius $primary-border-radius 0;
      padding: $base-padding;

      .card-header {
        @include flex-center-x;
        width: 145px;
        position: absolute;
        left: 0;
        top: -30px;
        height: 30px;
        margin-left: -1px; // Outline offset
        background-color: $tertiary-background-color;
        border-radius: $primary-border-radius $primary-border-radius 0 0;

        p {
          @include flex-center-xy;
          position: relative;
          column-gap: 10px;
          margin-top: 1px; // + Outline offset
        }
      }


      .live-data-header {
        @include live-data-header-grid;

        .asset-logo {
          @include background-image-presets;
          height: $asset-inner-row;
          width: $asset-inner-row;
          background-color: $tertiary-background-color;
          border-radius: $secondary-border-radius;
        }

        .info-wrapper {
          margin-left: 0;
        }
      }
    }

    .card:first-child .card-header p:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $main-color;
      margin-top: 2px;
    }
  }
}
