#asset-list {
  @include flex-column-center-y;
  position: relative;
  width: 100%;
  overflow: hidden;

  header, footer {
    width: 100%;
    padding: 0 $base-padding;
    column-gap: $base-column-gap;
  }

  .holding-container {
    width: calc(100% - (2 * $base-padding));
    margin: 0 $base-padding;
    column-gap: $base-column-gap;
  }

  header {
    position: relative;
    padding: $base-padding;
    width: 100%;
    z-index: 20;

    @import 'src/assets/scss/wrappers/searchbar-content.scss';
  }

  footer:not(.holding-container footer) {
    @include holding-row-grid;
    height: $outer-holding-row-height;
    background-color: $tertiary-background-color;
    padding-left: 33px;
    padding-right: 40px;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.2);

    h4, .total-value, .total-percentage {
      font-weight: $bold-font-weight;
      font-size: 17px;
    }

    h4 {
      @include flex-center-y;
      width: 100%;
      height: 100%;
    }

    span:not(.three-digit-wrapper span) {
      @include flex-center-xy;
      column-gap: 10px;
      width: 100%;
      height: 100%;
    }

    @import 'src/assets/scss/data/_three-digit-value.scss';

    .three-digit-wrapper {
      column-gap: 4px;

      .first-digit {
        font-weight: $bold-font-weight;
        font-size: 17px;
      }

      .first-decimal, .second-decimal {
        font-size: 15px !important;
        font-weight: $bold-font-weight;
      }
    }
  }

  .holding-container {
    flex: 1;

    input {
      max-width: 80px;
      height: $secondary-input-height;
      border-radius: $primary-border-radius;
    }
    input.group-name-input {
      max-width: 135px;
      text-align: left;
      line-height: 49px;
      font-weight: 500;
      font-size: 15px;
      padding-left: 15px;
      border: none;
    }


    .current-value-wrapper {
      @include flex-center-xy;
      column-gap: $base-column-gap;
      width: 100%;
      height: 100%;
    }

    /*******************************************************/
    /* --------------- Asset Row Component --------------- */
    /*******************************************************/


    .holding-row {
      @include base-wrapper;
      @include holding-row-grid;
      margin-bottom: 15px;
      height: $outer-holding-row-height;

      @import 'src/assets/scss/data/_asset-info.scss';
      @import 'src/assets/scss/data/_three-digit-value.scss';

      mark {
        color: $primary-text-color;
        background: none;
      }
    }

    /*******************************************************/
    /* ------------- Asset group Component --------------- */
    /*******************************************************/

    .holding-group {
      @include base-wrapper;
      height: auto;
      margin-bottom: 15px;

      .asset-info .asset-logo.shake:before {
        content: '-';
        background-color: #d5595a;
      }

      footer {
        @include asset-footer-grid;
        width: 100%;
        height: $inner-holding-row-height;
        background-color: $tertiary-background-color;
        border-radius: 0 0 $primary-border-radius $primary-border-radius;

        .footer-header {
          @include flex-center-y;
          column-gap: 5px;

          button {
            width: 80px;
            height: 30px;
            @include secondary-base-button;
            cursor: pointer;
          }

          button.save {
            height: 30px;
            @include primary-base-button;
            cursor: pointer;
            padding: 0 8px;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
          }

          h4 {
            line-height: $inner-holding-row-height;
            font-weight: $bold-font-weight;
            padding-left: 10px;
          }
        }

        @import 'src/assets/scss/data/_three-digit-value.scss';
      }

      .holding-row {
        @include holding-row-reset;
        margin-bottom: 0;
        border-top: 1px solid $passive-border-color;
      }

      .holding-placeholder {
        @include flex-center-xy;
        width: 100%;
        height: $inner-holding-row-height;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
      }

      .holding-row:first-child {
        border-top: none;
      }

      .percentage-wrapper {
        @include flex-align-start;
        position: absolute;
        top: -8px;
        right: calc($deviation-column + $holding-row-column-gap + 35px);
        width: $target-percentage-column;
        border: 3px solid #19B399;
        border-radius: 5px;
        pointer-events: none;

        .header {
          width: 100%;
          height: 16px;
          background-color: $main-color;

          span {
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
