#asset-list {
  @include flex-column-center-y;
  position: relative;
  width: 100%;
  overflow: hidden;

  header, footer {
    width: 100%;
    padding: 0 $base-padding;
    column-gap: $base-column-gap;
  }

  header .searchbar-wrapper {
    @include flex-center-xy;
    column-gap: 12px;

    .delete-holding {
      @include flex-center-xy;
      width: 52px;
      height: 52px;
      background-color: $primary-infill-color;
      border: 1px solid $tertiary-background-color;
      border-radius: $primary-border-radius;
      cursor: pointer;
    }

    .delete-holding.active {
      background-color: #19B399;
    }
  }

  .holding-container {
    width: calc(100% - (2 * $base-padding));
    margin: 0 $base-padding;
    column-gap: $base-column-gap;
  }

  header {
    position: relative;
    padding: $base-padding;
    width: 100%;
    z-index: 20;

    @import 'src/assets/scss/wrappers/searchbar-content.scss';
  }

  footer:not(.holding-container footer) {
    @include base-grid;
    /* asset information, price, shares, value, target, deviation */
    grid-template-columns: auto  $current-value-column $target-percentage-column ($deviation-column + 52px);
    grid-template-rows: $inner-holding-row-height;
    grid-column-gap: 45px;
    height: $outer-holding-row-height;
    background-color: $tertiary-background-color;
    padding: $holding-row-padding 25px $holding-row-padding 33px;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.2);

    .total-value-wrapper,
    .total-target-percentage-wrapper,
    .total-deviation-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border: 4px solid $main-color;
      border-radius: $primary-border-radius;

      header {
        @include full-reset;
        position: absolute;
        left: -3px;
        top: -24px;
        width: calc(100% + 7px);
        height: 28px;
        background-color: $main-color;
        border-radius: $primary-border-radius $primary-border-radius 0 0;
        text-align: center;
        line-height: 28px;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        z-index: 5;
      }
    }

    .total-target-percentage-wrapper {
      border: 4px solid $main-error;
      header {
        background-color: $main-error;
      }
    }

    .total-target-percentage-wrapper.valid {
      border: 4px solid $main-color;
      header {
        background-color: $main-color;
      }
    }

    h4, .total-value, .total-percentage {
      font-weight: $bold-font-weight;
      font-size: 17px;
    }

    h4 {
      @include flex-center-y;
      width: 100%;
      height: 100%;
    }

    span:not(.three-digit-wrapper span) {
      @include flex-center-xy;
      column-gap: 10px;
      width: 100%;
      height: 100%;
    }

    @import 'src/assets/scss/data/_three-digit-value.scss';

    .three-digit-wrapper {
      column-gap: 4px;

      .first-digit {
        font-weight: $bold-font-weight;
        font-size: 17px;
      }

      .first-decimal, .second-decimal {
        font-size: 15px !important;
        font-weight: $bold-font-weight;
      }
    }
  }

  .holding-container {
    flex: 1;

    input {
      max-width: 80px;
      height: $secondary-input-height;
      border-radius: $primary-border-radius;
    }
    input.group-name-input,
    input.asset-name-input {
      max-width: 135px;
      text-align: left;
      line-height: 49px;
      font-weight: 500;
      font-size: 15px;
      padding-left: 15px;
      border: none;
    }

    .current-value-wrapper {
      @include flex-center-xy;
      column-gap: $base-column-gap;
      width: 100%;
      height: 100%;
    }

    /*******************************************************/
    /* --------------- Asset Row Component --------------- */
    /*******************************************************/


    .holding-row {
      @include base-wrapper;
      @include holding-row-grid;
      margin-bottom: 15px;
      height: $outer-holding-row-height;

      @import 'src/assets/scss/data/_asset-info.scss';
      @import 'src/assets/scss/data/_three-digit-value.scss';

      mark {
        color: $primary-text-color;
        background: none;
      }
    }

    /*******************************************************/
    /* ------------- Asset group Component --------------- */
    /*******************************************************/

    .holding-group {
      @include base-wrapper;
      height: auto;
      margin-bottom: 15px;

      .asset-info .asset-logo.shake:before {
        content: '-';
        background-color: #d5595a;
      }

      footer {
        @include asset-footer-grid;
        width: 100%;
        height: $inner-holding-row-height;
        background-color: $tertiary-background-color;
        border-radius: 0 0 $primary-border-radius $primary-border-radius;

        .footer-header {
          @include flex-center-y;
          column-gap: 5px;

          button {
            width: 80px;
            height: 30px;
            @include secondary-base-button;
          }

          button.save,
          button.delete {
            height: 30px;
            @include secondary-base-button;
            background-color: $main-color;
            padding: 0 8px;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
          }

          button.delete {
            background-color: $main-error;
          }

          h4 {
            line-height: $inner-holding-row-height;
            font-weight: $bold-font-weight;
            padding-left: 10px;
          }
        }

        @import 'src/assets/scss/data/_three-digit-value.scss';
      }

      .holding-row {
        @include holding-row-reset;
        margin-bottom: 0;
        border-top: 1px solid $passive-border-color;
      }

      .holding-placeholder {
        @include flex-center-xy;
        width: 100%;
        height: $inner-holding-row-height;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
      }

      .holding-row:first-child {
        border-top: none;
      }

      .percentage-wrapper {
        @include flex-align-start;
        position: absolute;
        top: -8px;
        right: calc($deviation-column + $holding-row-column-gap + 41px);
        border: 3px solid $main-error;
        border-radius: 5px;
        pointer-events: none;

        .header {
          @include flex-center-x;
          column-gap: 5px;
          width: 100%;
          height: 16px;
          background-color: $main-error;

          span {
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          }

          svg {
            width: 11px;
            height: 11px;
            margin-top: 1px;
          }
        }
      }

      .percentage-wrapper.valid {
        border: 3px solid $main-color;
        .header {
          background-color: $main-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 1700px) {

  #asset-list .holding-container .holding-row .asset-info h4,
  #asset-list .holding-container .holding-group footer .footer-header h4,
  #asset-list header .searchbar-content-wrapper .public-asset-container .searchbar-asset .asset-info h4 {
    font-weight: 500;
  }

  #asset-list .holding-container .holding-row .asset-info h4 {
    margin-top: -4px;
  }

  #asset-list .holding-container .holding-row .asset-info {
    grid-row-gap: 1px;
  }

  #asset-list .holding-container .holding-row .asset-info span,
  #asset-list header .searchbar-content-wrapper .public-asset-container .searchbar-asset .asset-info span {
    font-size: 16px;
  }

  .table-filter,
  #asset-list .holding-container .holding-row,
  #asset-list .holding-container .holding-group footer {
    grid-template-columns: auto 140px 110px 215px 110px 76px;
    grid-column-gap: 85px;
    padding-right: 26px;
  }

  #asset-list .holding-container .holding-group .percentage-wrapper {
    right: 208px;
  }

  #asset-list footer:not(.holding-container footer) h4,
  #asset-list footer:not(.holding-container footer) .total-value,
  #asset-list footer:not(.holding-container footer) .total-percentage
  {
    font-size: 18px;
  }

  #asset-list footer:not(.holding-container footer) {
    grid-column-gap: 76px;
    padding-right: 30px;

    .total-value-wrapper {
      margin-left: -20px;
    }
  }
}
