#overview {
  width: 100%;
  height: 100vh;
  padding: 25px;

  .card {
    @include flex-center-xy;
    width: 600px;
    background-color: $secondary-background-color;
    border-radius: $primary-border-radius;
    padding: 15px;
  }
}
