#asset-list .asset-group-container {
  width: 100%;
  margin-bottom: 15px;
  border-radius: $primary-border-radius;

  .asset-row {
    margin-bottom: -1px; /* easier than decreasing the inner borders */
  }

  .asset-row.selected {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
  }

  .asset-row {
    border-radius: $primary-border-radius $primary-border-radius 0 0;
  }

  .asset-row:not(:first-child) {
    border-radius: 0;
  }
}

.asset-group-container.selected {
  outline: 1px solid $main-color;
  outline-offset: -1px;
}

.asset-group-container.empty-group {
  outline: 1px solid $passive-border-color;
  border-radius: $primary-border-radius;
  background-color: $secondary-background-color;

  button {
    width: calc(100% - 5px);
    height: calc($asset-row-height - 5px);
    margin: 2.5px;
    background-color: $primary-infill-color;
    border-radius: $primary-border-radius;
    border-style: dotted;
    border-color: $passive-border-color;
    font-size: 20px;
    color: $secondary-text-color;
    cursor: pointer;
  }
}




