$inner-target-percentage-wrapper-height:
        $target-percentage-grouping-header
          + $target-percentage-grouping-inner-frame
          + $target-percentage-grouping-inner-padding
          + $target-percentage-grouping-row-gap
          + $target-percentage-grouping-row-gap;
          /* for each next asset in the group add 1x $target-percentage-grouping-row-gap */

.inner-target-percentage-wrapper {
  @include flex-align-start;
  position: absolute;
  top: -8px;
  right: calc($deviation-column + $asset-row-column-gap + 43px);
  width: 82px;
  border: $target-percentage-grouping-border solid #19B399;
  border-radius: 5px;
  pointer-events: none;

  .header {
    width: 100%;
    height: $single-target-percentage-grouping-header;
    background-color: $main-color;

    span {
      text-align: center;
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
    }
  }
}
