#asset-tab {
    width: 100%;
    padding: 25px;
}

/****************************************************************************/
/* ------------------- Searchbar & Action Button Wrapper ------------------ */
/****************************************************************************/

#asset-tab header {
    display: flex;
    column-gap: 25px;
    margin-bottom: 25px;
}

.searchbar {
    background-color: var(--secondary-infill-color);
}

#asset-tab .button-wrapper {
    display: flex;
    cursor: default;
    pointer-events: none;
}

#asset-tab .button-wrapper .button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--passive-border-color);
    background-color: var(--secondary-infill-color);
}

#asset-tab .button-wrapper.active {
    cursor: pointer;
    pointer-events: all;
}

#asset-tab .button-wrapper.active .button:hover {
    background-color: var(--primary-background-color);
}

#asset-tab .button.group {
    width: 70px;
    column-gap: 8px;
}

#asset-tab .button:first-child {
    border-radius: var(--primary-border-radius) 0 0 var(--primary-border-radius);
}

#asset-tab .button:last-child {
    border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
}

#asset-tab .button:not(:last-child) {
    border-right: 0;
}

#asset-tab .icon {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    opacity: 0.6;
}

#asset-tab .icon.searchbar {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    background-image: var(--icon-searchbar);
}

#asset-tab .button .icon.arrow-up,
#asset-tab .button .icon.arrow-down {
    width: 10px;
    height: 10px;
}

#asset-tab .button .icon.edit       { background-image: var(--icon-edit-action-active);   }
#asset-tab .button .icon.group      { background-image: var(--icon-group-action-active);  }
#asset-tab .button .icon.delete     { background-image: var(--icon-delete-action-active); }
#asset-tab .button .icon.arrow-up   { background-image: var(--icon-arrow-up-active);      }
#asset-tab .button .icon.arrow-down { background-image: var(--icon-arrow-down-active);    }

#asset-tab .button-wrapper.active .button .icon {
    opacity: 1;
}

/****************************************************************************/
/* --------------------------- Asset Row Information----------------------- */
/****************************************************************************/

.asset-container {
    width: 100%;
    height: var(--asset-row-height);
    background-color: var(--secondary-background-color);
    border: 1px solid var(--passive-border-color);
    border-radius: var(--primary-border-radius);
    margin-bottom: 15px;
    padding-right: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
    display: flex;
    justify-content: space-between;
}

.asset-container.selected {
    border: 1px solid var(--main-color);
    box-shadow: var(--box-shaddow-main-color);
}

.asset-info-wrapper {
    width: 258px;
    height: var(--asset-row-height);
    display: flex;
}

.asset-image {
    height: 38px;
    width: 38px;
    margin: 10px;
    background-color: var(--tertiary-background-color);
    border-radius: var(--secondary-border-radius);
}

.asset-name-wrapper {
    height: var(--asset-row-height);
}

.asset-image.selected {
    background-image: var(--icon-selected-asset);
}

.asset-name {
    color: var(--primary-text-color);
    font-weight: 600;
    margin-top: 2px;
}

.asset-info-row {
    display: flex;
    column-gap: 8px;
}

.asset-type {
    height: 22px;
    background-color: var(--main-color);
    border-radius: var(--secondary-border-radius);
    color: var(--primary-text-color);
    font-weight: 600;
    padding: 0 8px;
    line-height: 1.4;
}

.isin {
    color: var(--secondary-text-color);
}

.isin.label {
    color: var(--tertiary-text-color);
}

/****************************************************************************/
/* -------------------- Asset Row Price & Deviation ----------------------- */
/****************************************************************************/

.asset-price-wrapper,
.asset-deviation-wrapper {
    width: 52px;
    height: var(--asset-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.primary-asset-price,
.primary-asset-deviation {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.secondary-asset-price,
.secondary-asset-deviation {
    height: 14px;
    color: var(--secondary-text-color);
    font-size: 13px;
    margin-left: 3px;
}

.decimal-wrapper {
    display: flex;
}

.tertiary-asset-price,
.tertiary-asset-deviation {
    height: 10px;
    color: var(--tertiary-text-color);
    font-size: 13px;
}

.asset-price-currency,
.asset-deviation-currency {
    height: 12px;
    color: var(--primary-text-color);
    font-size: 14px;
    margin-left: 3px;
}

/****************************************************************************/
/* ---------------- Asset Row Shares & Target Percentage ------------------ */
/****************************************************************************/

.shares-wrapper,
.target-percentage-wrapper {
    height: var(--asset-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.shares-wrapper,
.target-percentage-wrapper {
    width: 115px;
    height: var(--asset-row-height);
    display: flex;
}

.shares-wrapper input,
.target-percentage-wrapper input {
    width: 80px;
}

.shares-wrapper label,
.target-percentage-wrapper label {
    font-weight: 600;
}

/****************************************************************************/
/* ------------------------ Asset Actual Values --------------------------- */
/****************************************************************************/

.actual-value-wrapper {
    width: 80px;
    height: var(--asset-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actual-value-wrapper label {
    text-align: right!important;
}