.tooltip-event-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  top: 8px;

  .tooltip {
    position: absolute;
    width: auto;
    padding: 3px 8px;
    border-radius: $secondary-border-radius;
    background-color: #2a5454;
    white-space: nowrap;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 18;

    .text {
      position: relative;
      font-size: 14px;
      line-height: 22px;
      background-color: #2a5454;
      color: $primary-text-color;
      z-index: 25;
    }

    .corner {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: $secondary-border-radius;
      background-color: #2a5454;
      transform: rotate(45deg);
      z-index: 20;
    }
  }
}

.tooltip-event-wrapper.active {
  cursor: pointer;
}

.tooltip-event-wrapper.deviation {
  position: absolute;
  grid-column: 6 / 6;
  grid-row: 1 / 1;
  top: 0;

  .tooltip {
    right: 0;
    top: -30px;

    .corner {
      bottom: -8px;
      right: 25px;
    }
  }
}

.tooltip-event-wrapper.target-percentage {
  pointer-events: none;
  grid-column: 5 / 5;
  grid-row: 1 / 1;
  top: 0;

  .tooltip {
    left: calc(50% - 25px);
    transform: translateX(-50%);
    bottom: -27px;
    padding: 3px 8px;
    font-size: 12px;

    .corner-wrapper {
      position: absolute;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);

      .corner {
        transform: rotate(45deg);
      }
    }
  }
}

.tooltip-event-wrapper.group-percentage-wrapper {
  position: absolute;
  width: 100%;
  height: 16px;
  top: 0;
  pointer-events: auto;

  .tooltip {
    position: absolute;
    top: 20px;
    left: calc(50% - 12px);
    transform: translateX(-50%);
    padding: 3px 8px;
    font-size: 12px;

    .corner-wrapper {
      position: absolute;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);

      .text {
        font-size: 14px;
        line-height: 22px;
      }

      .corner {
        transform: rotate(45deg);
        border-radius: $secondary-border-radius;
      }
    }
  }
}

.tooltip-event-wrapper.total-target-percentage {
  position: absolute;
  width: 100%;
  height: calc(100% + 28px);
  margin-top: -28px;
  top: 0;
  cursor: pointer;
  z-index: 20;

  .tooltip {
    position: absolute;
    top: -32px;
    left: calc(50% - 14px);
    transform: translateX(-50%);

    .corner-wrapper {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.tooltip-event-wrapper.total-deviation {
  position: absolute;
  width: 100%;
  height: calc(100% + 28px);
  margin-top: -28px;
  top: 0;
  cursor: pointer;
  z-index: 20;

  .tooltip {
    position: absolute;
    top: -32px;
    right: 0;

    .corner-wrapper {
      position: absolute;
      bottom: 10px;
      right: 65px;
    }
  }
}

.tooltip-event-wrapper.group-deviation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;

  .tooltip {
    position: absolute;
    top: -32px;
    right: 0;

    .corner {
      position: absolute;
      bottom: -10px;
      right: 25px;
    }
  }
}
