.searchbar-asset-skeleton {
  @include searchbar-asset-grid;
  grid-template-columns: $inner-asset-row-height auto $current-price-column;;
  height: $inner-asset-row-height + 12px;
  padding: 6px;

  .skeleton-logo {
    @include background-image-presets;
    height: $inner-asset-row-height;
    width: $inner-asset-row-height;
    background-color: $tertiary-background-color;
    border-radius: $secondary-border-radius;
  }

  .skeleton-info-wrapper {
    margin-left: -20px;

    .name  {
      width: 240px;
      height: 17px;
      background-color: $tertiary-background-color;
      margin-bottom: 8px;
      margin-top: 2px;
    }

    .info {
      width: 190px;
      height: 17px;
      background-color: $tertiary-background-color;
    }
  }

  .skeleton-price {
    grid-column: 3 / 4;
    width: 55px;
    height: 34px;
    margin-left: 10px;
    margin-top: 7px;
    background-color: $tertiary-background-color;
  }

  .skeleton-logo,
  .skeleton-price,
  .skeleton-info-wrapper .name,
  .skeleton-info-wrapper .info {
    position: relative;
    overflow: hidden;
  }

  .skeleton-logo:before,
  .skeleton-price:before,
  .skeleton-info-wrapper .name:before,
  .skeleton-info-wrapper .info:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #464f5c, transparent);
    transform: translateX(-100%);
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
