.table-filter {
  @include base-grid;
  height: 35px;
  grid-template-columns: $holding-row-template-columns;
  grid-column-gap: $holding-row-column-gap;
  width: calc(100% - ($base-padding * 2));
  padding-left: 10px; /* 10px Left padding .holding-row */
  padding-right: 22px; /* 10px Left padding .holding-row */
  border-bottom: 1px solid $tertiary-background-color;
  margin: 0 25px 15px;

  .column {
    position: relative;
    width: 100%;
    height: 100%;

    span {
      @include absolute-center-xy;
      white-space: nowrap;
      cursor: pointer;
    }

    svg {
      margin-left: 6px;
      margin-bottom: -1px;
    }
  }

  .column.info span {
    left: 0;
    transform: translateY(-50%);
  }
}

