/* Main color */
$main-color:   #19B399;

/* All background color gradations */
$primary-background-color:   #24292D;
$secondary-background-color: #2F363E;
$tertiary-background-color:  #3C444D;

$hover-button: $primary-background-color;
$hover-secondary-background: #2a3238;

/* All text colors */
$primary-text-color:   #FFFFFF;
$secondary-text-color: #B5B5B5;
$tertiary-text-color:  #787878;

/* All infill colors */
//$primary-infill-color: #1C2125;
$primary-infill-color: #1A1E21;
//$secondary-infill-color: #1A1E21;
$secondary-infill-color: #1C2125;


/* All border colors */
$passive-border-color: $tertiary-background-color;
$active-border-color: $main-color;

/* All text colors */
$passive-text-color: $tertiary-background-color;
$active-text-color: $primary-text-color;
