// Font families
$primary-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Font sizes
$primary-font-size: 15px;
$secondary-font-size: 14px;

// Line heights
$primary-line-height: 1.6;
$exact-primary-line-height: 1.4; // no spacing primary font size

// Font weights
$bold-font-weight: 600;
$regular-font-weight: 400;
