#asset-tab {
    width: 100%;
    padding: 25px;
}

/****************************************************************************/
/* ------------------- Searchbar & Action Button Wrapper ------------------ */
/****************************************************************************/

#asset-tab header {
    display: flex;
    column-gap: 25px;
    margin-bottom: 25px;
}

.searchbar {
    background-color: var(--secondary-infill-color);
}

.button-wrapper {
    display: flex;
}

#asset-tab .button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--passive-border-color);
    background-color: var(--secondary-infill-color);
    cursor: pointer;
}

#asset-tab .button.group {
    width: 70px;
    column-gap: 8px;
}

#asset-tab .button:first-child {
    border-radius: var(--primary-border-radius) 0 0 var(--primary-border-radius);
}

#asset-tab .button:last-child {
    border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
}

#asset-tab .button:not(:last-child) {
    border-right: 0;
}

#asset-tab .icon {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

#asset-tab .icon.searchbar {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    background-image: var(--icon-searchbar);
}

#asset-tab .button .icon.arrow-up,
#asset-tab .button .icon.arrow-down {
    width: 10px;
    height: 10px;
}

#asset-tab .button .icon.edit       { background-image: var(--icon-edit-action);   }
#asset-tab .button .icon.group      { background-image: var(--icon-group-action);  }
#asset-tab .button .icon.delete     { background-image: var(--icon-delete-action); }
#asset-tab .button .icon.arrow-up   { background-image: var(--icon-arrow-up);      }
#asset-tab .button .icon.arrow-down { background-image: var(--icon-arrow-down);    }

#asset-tab .button .icon.edit.active       { background-image: var(--icon-edit-action-active);   }
#asset-tab .button .icon.group.active      { background-image: var(--icon-group-action-active);  }
#asset-tab .button .icon.delete.active     { background-image: var(--icon-delete-action-active); }
#asset-tab .button .icon.arrow-up.active   { background-image: var(--icon-arrow-up-active);      }
#asset-tab .button .icon.arrow-down.active { background-image: var(--icon-arrow-down-active);    }

/****************************************************************************/
/* --------------------------- Asset Row Information----------------------- */
/****************************************************************************/

.asset-container {
    width: 100%;
    height: var(--asset-row-height);
    background-color: var(--secondary-background-color);
    border: 1px solid var(--passive-border-color);
    border-radius: var(--primary-border-radius);
    margin-bottom: 15px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 58px calc(30% - 58px) 8% 20%;
    grid-template-rows: 38px;
}

.asset-image {
    height: 38px;
    width: 38px;
    margin: 10px;
    background-color: var(--tertiary-background-color);
    border-radius: var(--secondary-border-radius);
}

.asset-image.selected {
    background-image: var(--icon-selected-asset);
}

.asset-info {
    height: var(--asset-row-height);
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

.asset-name {
    color: var(--primary-text-color);
    font-weight: 600;
    margin-top: 2px;
}

.asset-info-row {
    display: flex;
    column-gap: 8px;
}

.asset-type {
    height: 22px;
    background-color: var(--main-color);
    border-radius: var(--secondary-border-radius);
    color: var(--primary-text-color);
    font-weight: 600;
    padding: 0 8px;
    line-height: 1.4;
}

.isin {
    color: var(--secondary-text-color);
}

.isin.label {
    color: var(--tertiary-text-color);
}

/****************************************************************************/
/* -------------------------- Asset Row Price ----------------------------- */
/****************************************************************************/

.asset-price-wrapper {
    justify-content: center;
    align-items: center;
    height: calc(var(--asset-row-height) - 8px);
    display: flex;
}

.primary-asset-price {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.secondary-asset-price {
    height: 14px;
    color: var(--secondary-text-color);
    font-size: 13px;
    margin-left: 3px;
}

.decimal-wrapper {
    display: flex;
}

.tertiary-asset-price {
    height: 10px;
    color: var(--tertiary-text-color);
    font-size: 13px;
}

.asset-price-currency {
    height: 12px;
    color: var(--primary-text-color);
    font-size: 14px;
    margin-left: 3px;
}

.asset-container {
    height: var(--asset-row-height);
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}
.shares-wrapper {
    height: var(--asset-row-height);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.shares-wrapper input {
    width: 80px;
}

.shares-wrapper label {
    font-weight: 600;
}