

/****************************************************************************/
/* ----------------------- Theme Color Variables -------------------------- */
/****************************************************************************/

:root {

  /* Main color */
  --main-color:   #19B399;

  /* All background color gradations */
  --primary-background-color:   #24292D;
  --secondary-background-color: #2F363E;
  --tertiary-background-color:  #3C444D;

  /* All text colors */
  --primary-text-color:   #FFFFFF;
  --secondary-text-color: #B5B5B5;
  --tertiary-text-color:  #787878;

  /* All infill colors */
  --primary-infill-color: #1C2125;
  --secondary-infill-color: #1A1E21;

  --primary-border-radius: 5px;
  --secondary-border-radius: 3px;
}

/****************************************************************************/
/* -------------------- Interactive Color Variables ----------------------- */
/****************************************************************************/

:root {

  /* All border colors */
  --passive-border-color: var(--tertiary-background-color);
  --active-border-color: var(--main-color);

  /* All text colors */
  --passive-text-color: var(--tertiary-background-color);
  --active-text-color: var(--primary-text-color);
}

/****************************************************************************/
/* ------------------- All Asset Related variables ------------------------ */
/****************************************************************************/

:root {

  /* Asset Row */
  --asset-row-height: 58px
}