.asset-info {
  @include asset-information-grid;
  height: $inner-holding-row-height;

  .asset-logo {
    @include background-image-contain;
    height: $inner-holding-row-height;
    width: $inner-holding-row-height;
    border-radius: $secondary-border-radius;
    background-color: #f2f2f2;
  }

  .asset-logo.private-holding {
    background-image: $icon-private-holding-logo;
    background-size: 28px;
  }

  .asset-logo.shake {
    animation: shake 0.35s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  .asset-logo.shake:before {
    position: absolute;
    left: -6px;
    bottom: -6px;
    content: '+';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    width: 20px;
    height: 20px;
    //background-color: #ee5253;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }

  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
  }

  @keyframes both {
    0% { transform: rotate(0deg) translateX(0); }
    25% { transform: rotate(2deg) translateX(2px); }
    50% { transform: rotate(0deg) translateX(-2px); }
    75% { transform: rotate(-2deg) translateX(2px); }
    100% { transform: rotate(0deg) translateX(0); }
  }


  .additional-info {
    @include flex-center-y;
    column-gap: $asset-info-gap;
    grid-column: 2 / 3;
    margin-top: -4px;
  }

  h4 {
    font-weight: $bold-font-weight;
    margin-top: -2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .asset-type,
  .edit-asset,
  .save-asset {
    width: auto;
    background-color: $main-color;
    border-radius: $secondary-border-radius;
    color: $primary-text-color;
    font-size: $secondary-font-size;
    font-weight: $bold-font-weight;
    padding: 0 5px;
  }

  .edit-asset-name-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 28px;
  }

  .edit-asset {
    background-color: $primary-infill-color;
    border-radius: 1px solid $tertiary-background-color;
    cursor: pointer;
  }

  .save-asset {
    height: 30px;
    padding: 3px 8px;
    background-color: $main-color;
    cursor: pointer;
  }

  .isin-wrapper {
    @include flex-center-y;
    column-gap: calc($asset-info-gap / 2);

    .label {
      color: $secondary-text-color;
    }

    .isin {
      color: $tertiary-text-color;
      padding: 0 5px;
      border-radius: $secondary-border-radius;
      cursor: pointer;
    }

    .isin:hover {
      background-color: $tertiary-background-color;
    }

    svg {
      width: 14px;
      height: 12px;
    }
  }
}