.asset-info {
  @include asset-information-grid;
  height: $inner-holding-row-height;

  .asset-logo {
    @include background-image-contain;
    height: $inner-holding-row-height;
    width: $inner-holding-row-height;
    border-radius: $tertiary-border-radius;
    background-color: #f2f2f2;
  }

  .asset-logo.private-holding {
    background-image: $icon-private-holding-logo;
    background-size: 28px;
  }

  .asset-logo.add,
  .asset-logo.private-holding.add,
  .asset-logo.delete,
  .asset-logo.private-holding.delete {
    animation: shake 0.35s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  .asset-logo.delete:before,
  .asset-logo.add:before {
    position: absolute;
    left: -6px;
    bottom: -6px;
    content: '+';
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    width: 24px;
    height: 24px;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }

  .asset-logo.delete:before {
    background-color: $main-error;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.997' height='18.282' viewBox='0 0 15.997 18.282'%3E%3Cpath id='trash-can' d='M5.142,14.283a.571.571,0,1,1-1.143,0v-8a.571.571,0,1,1,1.143,0Zm3.428,0a.571.571,0,1,1-1.143,0v-8a.571.571,0,1,1,1.143,0Zm3.428,0a.571.571,0,1,1-1.143,0v-8a.571.571,0,1,1,1.143,0ZM11.073.806l.957,1.48h3.4a.571.571,0,0,1,0,1.143h-.571v12A2.856,2.856,0,0,1,12,18.282H4a2.856,2.856,0,0,1-2.857-2.857v-12H.571a.571.571,0,0,1,0-1.143h3.4L4.892.806A1.717,1.717,0,0,1,6.345,0H9.652a1.624,1.624,0,0,1,1.421.806ZM5.317,2.285H10.68l-.546-.874a.567.567,0,0,0-.482-.269H6.345a.567.567,0,0,0-.482.269ZM2.285,15.425A1.714,1.714,0,0,0,4,17.139h8a1.714,1.714,0,0,0,1.714-1.714v-12H2.285Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 13.2px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
  }

  @keyframes both {
    0% { transform: rotate(0deg) translateX(0); }
    25% { transform: rotate(2deg) translateX(2px); }
    50% { transform: rotate(0deg) translateX(-2px); }
    75% { transform: rotate(-2deg) translateX(2px); }
    100% { transform: rotate(0deg) translateX(0); }
  }


  .additional-info {
    @include flex-center-y;
    column-gap: $asset-info-gap;
    grid-column: 2 / 3;
    margin-top: -4px;
  }

  h4 {
    font-weight: $bold-font-weight;
    margin-top: -2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .asset-type,
  .edit-asset,
  .save-asset {
    width: auto;
    background-color: $main-color;
    border-radius: $tertiary-border-radius;
    color: $primary-text-color;
    font-size: $secondary-font-size;
    font-weight: $bold-font-weight;
    padding: 0 5px;
  }

  .edit-asset-name-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 28px;
  }

  .edit-asset {
    background-color: $primary-infill-color;
    border-radius: 1px solid $tertiary-background-color;
    cursor: pointer;
  }

  .save-asset {
    height: 30px;
    padding: 3px 8px;
    background-color: $main-color;
    cursor: pointer;
  }

  .isin-wrapper {
    @include flex-center-y;
    column-gap: calc($asset-info-gap / 2);

    .label {
      color: $secondary-text-color;
    }

    .isin {
      color: $tertiary-text-color;
      padding: 0 5px;
      border-radius: $tertiary-border-radius;
      cursor: pointer;
    }

    .isin:hover {
      background-color: $tertiary-background-color;
      color: $primary-text-color;
    }

    svg {
      width: 14px;
      height: 12px;
    }
  }
}
