@mixin flex-center-x {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-y {
  display: flex;
  align-items: center;
}

@mixin flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-y-end-x {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}
