.searchbar-asset {
  @include searchbar-asset-grid;
  height: $asset-inner-row + 12px;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;

  .searchbar-asset-logo {
    @include background-image-presets;
    height: $asset-inner-row;
    width: $asset-inner-row;
    background-color: $tertiary-background-color;
    border-radius: $secondary-border-radius;
  }

  .single-value-wrapper {
    grid-column: 4 / 5;
  }
}

.searchbar-asset:hover {
  background-color: $hover-secondary-background;
}
