#asset-list {

  .asset-row {
    @include base-wrapper;
    @include asset-row-grid;
    height: $asset-row-height;
    margin-bottom: 15px;
    cursor: pointer;

    .asset-logo {
      @include background-image-presets;
      height: $asset-inner-row;
      width: $asset-inner-row;
      background-color: $tertiary-background-color;
      border-radius: $secondary-border-radius;
    }

    @import "column/info-column";
    @import "column/single-value-column";
    @import "column/column-input";
    @import "column/actual-value-column";
  }

  .asset-row.selected {
    outline: 1px solid $main-color;
    box-shadow: $box-shaddow-main-color;

    .asset-logo {
      background-image: $icon-selected-asset;
    }
  }
}
